@use "scss/abstracts" as *;

.hero {
	background-color: $veryDarkBlue;

	.slideshow-container {
		position: relative;
		height: 100vh;

		@include breakpoints-up(medium) {
			height: 80vh;
		}

		.slides {
			position: relative;
			height: 100%;

			.slide {
				position: absolute;
				text-align: center;
				height: 100%;
				// z-index: 2;

				.text {
					color: $white;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: "Metropolis Regular";
					text-align: center;

					@include breakpoints-up(medium) {
						top: 44%;
						width: 100%;
					}

					h1 {
						color: $white;
						line-height: 4.3rem;
						font-weight: 400;
						font-size: 3rem;

						@include breakpoints-up(medium) {
							font-size: 4rem;
						}

						span {
							position: relative;

							&::after {
								content: "";
								display: block;
								width: 30%;
								height: 5px;
								background-color: $aquaGreen;
								position: absolute;
								top: 3.6rem;
								left: 50%;
								transform: translate(-50%, -50%);

								@include breakpoints-up(medium) {
									height: 8px;
									top: 4.8rem;
									left: 0;
								}
							}
						}
					}

					p {
						width: 100%;
						color: $lightGreyishBlue;
						margin: 4rem auto auto auto;
						font-size: 1rem;
					}
				}
			}
		}
		video {
			width: 100vw;
			height: 100%;
			object-fit: cover;
		}

		.controls {
			position: absolute;
			top: 45%;
			width: 100%;
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include breakpoints-up(medium) {
				display: block;
			}

			hr {
				border: none;
				height: 0.5px;
				background-color: $white;
			}

			.control-btn {
				top: 50%;
				left: 50%;
				z-index: 2;
				gap: 1rem;
				display: flex;
				gap: 1.5rem;
				align-self: center;

				@include breakpoints-up(medium) {
					position: absolute;
					top: -1.5rem;
					left: 50%;
					transform: translateX(-50%);
					justify-content: space-between;
					width: 100%;
				}

				svg {
					cursor: pointer;
					color: $white;
					width: 60%;
					height: 60%;

					@include breakpoints-up(medium) {
						fill: $veryDarkBlue;
						width: 3.5rem;
						margin: 0 2rem;
					}

					@include breakpoints-up(large) {
						margin: 0 10rem;
					}

					.svg-circle {
						stroke: $lightGreyishBlue;
					}
				}
			}
		}
	}
}
